@import '@/styles/mixins';

.section {
    padding-top: 40px;
    padding-bottom: 80px;
}

.title {
    font-size: 18px;
    letter-spacing: 0.15em;
    text-align: center;
    @include media-rules(tablet) {
        font-size: 36px;
    }
    @include media-rules(desktop) {
        font-size: 48px;
    }
}

.stick {
    background-color: rgba(69, 63, 65, 0.5);
    width: 0.5px;
    height: 20px;
    margin: 12px auto;
    @include media-rules(tablet) {
        height: 40px;
        width: 1px;
        margin: 16px auto;
    }
    @include media-rules(desktop) {
        height: 60px;
        margin: 36px auto;
    }
}

.subtitle {
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: lowercase;
    text-align: center;
    @include media-rules(tablet) {
        font-size: 30px;
    }
    @include media-rules(desktop) {
        font-size: 42px;
    }
}

.list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include media-rules(tablet) {
        margin-top: 70px;
        gap: 36px;
    }
    @include media-rules(desktop) {
        gap: 48px;
    }
}
