@import '@/styles/mixins';

.section {
    padding: 40px 0;

    @include media-rules(tablet) {
        padding: 75px 0;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 200px;
    margin: 0 auto;

    @include media-rules(tablet) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 624px;
        row-gap: 48px;
        column-gap: 20px;
    }

    @include media-rules(desktop) {
        max-width: 100%;
        column-gap: 24px;
    }
}
