.logo {
    text-align: center;
    margin: 0 auto 16px;
}

.logoIcon {
    width: 80px;
    height: 80px;
    fill: transparent;
    stroke: var(--gen-w);
    margin: 0 auto;
}

.logoTitle {
    font-family: var(--second-family);
    font-size: 41px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--gen-w);
    margin-top: 10px;
}

.description {
    font-family: var(--second-family);
    letter-spacing: 0.15em;
    text-transform: capitalize;
    text-align: center;
    color: var(--gen-w);
    margin-bottom: 16px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}