@import '@/styles/mixins';

.info {
    @include media-rules(desktop) {
        order: 1;
    }
}

.logo {
    text-align: center;
    margin: 0 auto 16px;

    @include media-rules(tablet) {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }
}

.logoImage {
    width: 88px;
    height: 80px;
    margin: 0 auto;

    @include media-rules(tablet) {
        margin: 0;
    }

    @include media-rules(desktop) {
        width: 79px;
        height: 72px;
    }
}

.logoTitle {
    font-size: 41px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--gen-w);
    margin-top: 10px;

    @include media-rules(tablet) {
        font-size: 62px;
        margin-top: 0;
    }
}

.description {
    letter-spacing: 0.15em;
    text-transform: capitalize;
    text-align: center;
    color: var(--gen-w);
    margin-bottom: 16px;

    @include media-rules(tablet) {
        font-size: 18px;
    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;

    @include media-rules(tablet) {
        gap: 20px;
    }
}

.socialIcon {
    @include media-rules(tablet) {
        width: 38px;
        height: 38px;
    }
}
