@import '@/styles/mixins';

.description {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 14px;
    @include media-rules(tablet) {
        font-size: 14px;
        text-align: center;
    }
}

.wrapper_btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
    @include media-rules(tablet) {
        justify-content: center;
    }
}

.btn {
    border-radius: 2px;
    background-color: var(--gen-green);
    width: 159px;
    height: 26px;
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 10px;
    line-height: 2.4;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    @include media-rules(tablet) {
        border-radius: 6px;
        width: 552px;
        height: 52px;
        font-size: 20px;
line-height: 1.2;
color: var(--gen-w);
    }
}
