.label {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--gen-green);
    margin-top: 12px;
    text-align: center;
}
