@import '@/styles/mixins';
.video {
    position: relative;
}

.playerWrapper {
    position: relative;
    width: 200px;
    height: 328px;
    background-color: var(--photo-bg);
    overflow: hidden;

    @include media-rules(tablet) {
        width: 302px;
        height: 358px;
    }

    @include media-rules(desktop) {
        width: 552px;
        height: 548px;
    }
}

.link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 369px;
    display: block;

    @include media-rules(tablet) {
        height: 438px;
    }

    @include media-rules(desktop) {
        height: 636px;
    }
}

.linkText {
    display: block;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0;

    @include media-rules(tablet) {
        font-size: 26px;
        padding: 24px 0;
    }

    @include media-rules(desktop) {
        font-size: 32px;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
