@import '@/styles/mixins';

.playerWrapper {
    width: 200px;
    height: 360px;
    background-color: var(--photo-bg);

    @include media-rules(tablet) {
        width: 302px;
        height: 391px;
    }

    @include media-rules(desktop) {
        width: 552px;
        height: 580px;
    }
}

.link {
    display: inline-block;
}

.linkText {
    display: block;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0;

    @include media-rules(tablet) {
        font-size: 26px;
        padding: 24px 0;
    }

    @include media-rules(desktop) {
        font-size: 32px;
    }
}
