@import '@/styles/mixins';

.section {
    padding: 40px 0;
    @include media-rules(tablet) {
        padding: 75px 0;
    }
    @include media-rules(desktop) {
        padding-top: 66px;
        padding-bottom: 75px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
