@import '@/styles/mixins';

.location {
    padding: 40px 0 80px;

    @include media-rules(tablet) {
        padding: 75px 0 150px;
    }
}

.map {
    width: 100%;
    height: 235px;
    border: none;

    @include media-rules(tablet)  {
        height: 375px;
    }

    @include media-rules(desktop)  {
        height: 756px;
    }
}
