@import '@/styles/mixins';

.section .page_title {
    text-align: center;
    margin-bottom: 40px;
    @include media-rules(tablet) {
        margin-bottom: 26px;
    }
    @include media-rules(desktop) {
        margin-bottom: 70px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 26px;
}
