@import '@/styles/mixins';

.section {
    padding-bottom: 40px;
    padding-top: 20px;

    @include media-rules(tablet) {
        padding: 70px 0 75px;
    }
}

.container {
    max-width: 390px;
    padding-right: 24px;
    margin: 0 auto;

    @include media-rules(tablet) {
        max-width: 768px;
        padding-right: 0;
        padding-left: 74px;
    }

    @include media-rules(desktop) {
        max-width: 1440px;
        padding-left: 156px;
    }
}

.wrapper {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    @include media-rules(tablet) {
        // align-items: start;
        flex-direction: row-reverse;
        gap: 20px;
        margin-bottom: 36px;
    }

    @include media-rules(desktop) {
        gap: 24px;
        margin-bottom: 0;
    }
}

.image {
    min-width: 200px;
    height: 330px;
    object-fit: cover;

    @include media-rules(tablet) {
        min-width: 455px;
        height: 414px;
    }

    @include media-rules(desktop) {
        min-width: 708px;
        height: 463px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    @include media-rules(desktop) {
        gap: 36px;
    }
}

.pageTitle {
    @include media-rules(tablet) {
        padding-top: 0;
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 200;
    line-height: 1.5;

    @include media-rules(tablet) {
        font-size: 14px;
    }

    @include media-rules(desktop) {
        font-size: 16px;
        margin-bottom: 36px;
    }
}

.descriptionParagraphAdditional {
    display: none;

    @include media-rules(desktop) {
        display: block;
    }
}

.linkWrapper {
    text-align: center;

    @include media-rules(desktop) {
        display: none;
    }
}

.linkWrapperDesk {
    display: none;

    @include media-rules(desktop) {
        display: block;
    }
}

.link {
    display: inline-block;
    font-weight: 200;
    font-size: 10px;
    line-height: 2.4;
    text-transform: capitalize;
    text-align: center;
    color: var(--gen-w);
    background-color: var(--gen-green);
    border-radius: 2px;
    padding: 1px 10px;

    @include media-rules(tablet) {
        font-size: 20px;
        line-height: 1.2;
        border-radius: 6px;
        padding: 14px 20px;
    }
}
