@import "@/styles/mixins";

.readMoreButton {
    width: 100%;
    font-weight: 200;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    outline: none;

    @include media-rules(tablet) {
        font-size: 14px;
    }

    @include media-rules(desktop) {
        display: none;
    }
}

.description {
    font-weight: 200;
    line-height: 1.5;

    @include media-rules(tablet) {
        font-size: 16px;
    }
}
