@import "@/styles/mixins";

.section {
    padding: 20px 0 30px;

    @include media-rules(tablet) {
        padding: 70px 0 75px;
    }
}

.wrapper {
    display: flex;
    margin-bottom: 20px;
}

.info {
    max-width: 183px;

    @include media-rules(tablet) {
        max-width: 220px;
    }
}

.description {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 10px;

    @include media-rules(tablet) {
        font-size: 14px;
        margin-bottom: 12px;
    }
}

.image {
    width: 159px;
    height: 308px;
}

.linkWrapper {
    text-align: center;
}

.image {
    width: 159px;
    height: 308px;

    @include media-rules(tablet) {
        width: 455px;
        height: 446px;
    }
}

.link {
    display: inline-block;
    font-weight: 200;
    font-size: 10px;
    line-height: 2.4;
    text-transform: capitalize;
    text-align: center;
    color: var(--gen-w);
    background-color: var(--gen-green);
    padding: 0 10px;
}
