@import '@/styles/mixins';

.section {
    padding: 20px 0 30px;

    @include media-rules(tablet) {
        padding: 70px 0 35px;
    }

    @include media-rules(tablet) {
        padding: 70px 0 75px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include media-rules(tablet) {
        margin-bottom: 36px;
    }

    @include media-rules(desktop) {
        margin-bottom: 0;
    }
}

.info {
    max-width: 183px;

    @include media-rules(tablet) {
        max-width: 220px;
    }

    @include media-rules(desktop) {
        max-width: 456px;
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;

    @include media-rules(tablet) {
        margin-bottom: 12px;
    }

    @include media-rules(desktop) {
        margin-bottom: 36px;
    }
}

.descriptionParagraph {
    font-weight: 200;
    line-height: 1.5;

    @include media-rules(tablet) {
        font-size: 14px;
    }

    @include media-rules(desktop) {
        font-size: 16px;
    }
}

.descriptionParagraphAdditional {
    display: none;

    @include media-rules(desktop) {
        display: block;
        composes: descriptionParagraph
    }
}

.image {
    width: 159px;
    height: 308px;
    object-fit: cover;

    @include media-rules(tablet) {
        width: 384px;
        height: 446px;
    }

    @include media-rules(desktop) {
        width: 647px;
        height: 463px;
    }
}

.linkWrapper {
    text-align: center;

    @include media-rules(desktop) {
        display: none;
    }
}

.link {
    display: inline-block;
    font-weight: 200;
    font-size: 10px;
    line-height: 2.4;
    text-transform: capitalize;
    color: var(--gen-w);
    border-radius: 2px;
    background-color: var(--gen-green);
    padding: 1px 10px;

    @include media-rules(tablet) {
        font-size: 20px;
        line-height: 1.2;
        border-radius: 6px;
        padding: 14px 20px;

        @include media-rules(desktop) {
            font-size: 20px;
        }
    }
}

.linkWrapperDesk {
    display: none;

    @include media-rules(desktop) {
        display: block;
    }
}
