* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    font-family: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

input, textarea {
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    width: 24px;
    height: 24px;
    display: block;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}