.title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
