@import '@/styles/mixins';

.section {
    padding-top: 20px;
    padding-bottom: 40px;
    @include media-rules(tablet) {
        order: 0;
        padding-bottom: 75px;
        padding-top: 70px;
    }
    @include media-rules(desktop) {
        padding-bottom: 66px;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
}

.image {
    width: 223px;
    height: 280px;
}

.description {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.link {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 10px;
    line-height: 2.4;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    width: 197px;
    height: 26px;
    background-color: var(--gen-green);
    display: block;
    margin: 20px auto 0 auto;
    border-radius: 2px;
}
