@import '@/styles/mixins';

.section {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: var(--gen-w), 0.2;
    @include media-rules(tablet) {
        padding-top: 90px;
        padding-bottom: 150px;
        display: flex;
        justify-content: center;
    }
    @include media-rules(desktop) {
        padding-bottom: 175px;
        padding-top: 65px;
    }
}

.bg_wrapper {
    @include media-rules(tablet) {
        background-image: url('../../assets/images/injektionen/bg_tablet.png');
        background-size: cover;
        padding-top: 30px;
        height: 390px;
        width: 100%;
        max-width: 768px;
    }
    @include media-rules(desktop) {
        background-image: url('../../assets/images/injektionen/bg_desktop.png');
        background-size: cover;
        padding-top: 167px;
        width: 100%;
        max-width: 1440px;
        height: 522px;
    }
}

.wrapper_text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;
    @include media-rules(tablet) {
        padding-bottom: 0;
        gap: 36px;
    }
    @include media-rules(desktop) {
        align-items: center;
    }
}
.wrapper_text .page_title {
    margin-bottom: 0;
    @include media-rules(desktop) {
        max-width: 708px;
        text-align: center;
    }
}

.page_title {
    text-align: center;
}

.title_none {
    @include media-rules(tablet) {
        display: none;
    }
}

.termin_text {
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    @include media-rules(tablet) {
        font-size: 14px;
    }
    @include media-rules(desktop) {
        max-width: 708px;
        font-size: 16px;
    }
}

.form_wrapper {
    padding-top: 20px;
    background-image: url('../../assets/images/injektionen/bg_photo.png');
    background-size: cover;
    background-position: center -58px;
    // height: 785px;
    @include media-rules(tablet) {
        display: none;
    }
}

.more_info_wrapper {
    display: none;
    @include media-rules(tablet) {
        display: block;
        margin-top: 36px;
    }
}
