.readMoreButton {
    width: 100%;
    font-weight: 200;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    outline: none;
}

.description {
    font-weight: 200;
    line-height: 1.5;
    padding: 21px 14px;
}
