@import '@/styles/mixins';

.item {
    display: flex;
    justify-content: space-between;
}

.service_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    // max-width: 183px;
    @include media-rules(tablet) {
        max-width: 100%;
        flex-direction: row;
    }
    @include media-rules(desktop) {
        flex-direction: row;
    }
}

.price_tablet {
    display: none;
    @include media-rules(tablet) {
        display: block;
    }
}

.service_text {
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 400;
    @include media-rules(tablet) {
        font-size: 14px;
    }
    @include media-rules(desktop) {
        font-size: 16px;
    }
}

.additional {
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--gen);
    &:last-of-type() {
        color: red;
    }
    @include media-rules(tablet) {
        font-size: 14px;
        text-transform: capitalize;
    }
    @include media-rules(tablet) {
        font-size: 16px;
    }
}

.additional_mobile {
    @include media-rules(tablet) {
        display: none;
    }
}

.wrapper_detail {
    display: flex;
    align-items: baseline;
    max-width: 146px;
    flex-grow: 2;
    justify-content: space-between;
    @include media-rules(tablet) {
        max-width: 181px;
    }
}

.detail {
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: right;
    min-width: 40px;
    @include media-rules(tablet) {
        font-size: 14px;
        min-width: 48px;
    }
    @include media-rules(desktop) {
        font-size: 16px;
    }
}

.price {
    // max-width: 87px;
    text-align: right;
    font-size: 12px;
    line-height: 1.5;
    color: var(--gen);
    flex-grow: 2;
    @include media-rules(tablet) {
        max-width: 100%;
        text-transform: uppercase;
        font-size: 14px;
        flex-grow: 1;
    }
    @include media-rules(desktop) {
        font-size: 16px;
    }
}

.item .detail_row {
    flex-direction: row;
    gap: 4px;
    max-width: fit-content;
}

.service_detail_row {
    display: flex;
    align-items: baseline;
    gap: 2px;
}

.span {
    font-weight: 200;
    @include media-rules(desktop) {
        font-size: 16px;
    }
}

.item .list_tablet {
    @include media-rules(tablet) {
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 2;
        max-width: 403px;
    }
    @include media-rules(desktop) {
        max-width: 903px;
    }
}

.additional_text {
    display: none;
    @include media-rules(desktop) {
        display: inline-block;
    }
}

.massage {
    @include media-rules(tablet) {
        flex-grow: 1;
        justify-content: space-between;
    }
}
