@import '@/styles/mixins';

.slider_container {
    padding-top: 80px;
}

.base_review {
    background-size: cover;
    background-position: center;
    height: 203px;
    max-width: 100%;
    position: relative;
    padding-bottom: 51.25%;
    @include media-rules(tablet) {
        padding-bottom: 46.25%;
        height: 354px;
    }
    @include media-rules(desktop) {
        height: 606px;
    }
}

.base_ellipse {
    background-position: center;
    background-size: cover;
    position: absolute;
}

.base_text {
    font-style: italic;
    font-weight: 200;
    font-size: 10px;
    line-height: 1.5;
    color: var(--gen-green);
    position: absolute;
    text-align: center;
    @include media-rules(tablet) {
        font-size: 16px;
    }
    @include media-rules(desktop) {
        font-size: 24px;
    }
}

.review_1 {
    background-image: url('../../assets/images/feedbacks/review1.jpg');
    @include media-rules(tablet) {
        background: url('../../assets/images/feedbacks/review1_tablet.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.review_2 {
    background-image: url('../../assets/images/feedbacks/review2.jpg');
    @include media-rules(tablet) {
        background: url('../../assets/images/feedbacks/review2_tablet.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.review_3 {
    background-image: url('../../assets/images/feedbacks/review3.jpg');
    @include media-rules(tablet) {
        background: url('../../assets/images/feedbacks/review3_tablet.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.review_4 {
    background-image: url('../../assets/images/feedbacks/review4.jpg');
    @include media-rules(tablet) {
        background: url('../../assets/images/feedbacks/review4_tablet.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    @include media-rules(tablet) {
        background-size: cover;
    }
}

.ellipse_1 {
    background-image: url('../../assets/images/feedbacks/ellipse1.png');
    width: 323px;
    height: 114px;
    // left: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 22px;
    @include media-rules(tablet) {
        background: url('../../assets/images/feedbacks/ellipse1_tablet.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 632px;
        height: 145px;
        // left: 74px;
        bottom: 22px;
    }
    @include media-rules(desktop) {
        background: url('../../assets/images/feedbacks/ellipse1_desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 1111px;
        height: 214px;
        bottom: 40px;
    }
}

.ellipse_2 {
    background-image: url('../../assets/images/feedbacks/ellipse2.png');
    width: 363px;
    height: 94px;
    // left: 16px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 22px;
    @include media-rules(tablet) {
        background: url('../../assets/images/feedbacks/ellipse2_tablet.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 645px;
        height: 145px;
        // left: 74px;
        bottom: 22px;
    }
    @include media-rules(desktop) {
        background: url('../../assets/images/feedbacks/ellipse2_desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 755px;
        height: 240px;
        bottom: 40px;
    }
}

.ellipse_3 {
    background-image: url('../../assets/images/feedbacks/ellipse3.png');
    width: 166px;
    height: 102px;
    left: 46px;
    bottom: 22px;
    @include media-rules(tablet) {
        background: url('../../assets/images/feedbacks/ellipse3_tablet.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 270px;
        height: 148px;
        left: 57px;
        bottom: 36px;
    }
    @include media-rules(desktop) {
        background: url('../../assets/images/feedbacks/ellipse3_desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 413px;
        height: 230px;
        left: 64px;
        bottom: 73px;
    }
}

.ellipse_4 {
    background-image: url('../../assets/images/feedbacks/ellipse4.png');
    width: 160px;
    height: 142px;
    left: 6px;
    bottom: 3px;
    @include media-rules(tablet) {
        background: url('../../assets/images/feedbacks/ellipse4_tablet.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 201px;
        height: 295px;
        left: 29px;
        bottom: 12px;
    }
    @include media-rules(desktop) {
        background: url('../../assets/images/feedbacks/ellipse4_desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 367px;
        height: 428px;
        left: 29px;
        bottom: 60px;
    }
}

.text_1 {
    max-width: 291px;
    top: 16px;
    left: 20px;
    @include media-rules(tablet) {
        max-width: 582px;
        top: 19px;
        left: 24px;
    }
    @include media-rules(desktop) {
        max-width: 956px;
        max-width: 953px;
        left: 70px;
    }
}

.text_2 {
    max-width: 331px;
    top: 16px;
    left: 9px;
    @include media-rules(tablet) {
        max-width: 579px;
        top: 22px;
        left: 18px;
    }
    @include media-rules(desktop) {
        max-width: 686px;
        top: 39px;
        left: 21px;
    }
}

.text_3 {
    max-width: 138px;
    top: 14px;
    left: 14px;
    @include media-rules(tablet) {
        max-width: 230px;
        top: 15px;
        left: 19px;
    }
    @include media-rules(desktop) {
        max-width: 334px;
        top: 15px;
        left: 44px;
    }
}

.text_4 {
    max-width: 127px;
    top: 11px;
    left: 6px;
    @include media-rules(tablet) {
        max-width: 156px;
        top: 16px;
        left: 8px;
    }
    @include media-rules(desktop) {
        max-width: 261px;
        top: 48px;
        left: 28px;
    }
}

.custom_dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(227, 222, 219, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include media-rules(desktop) {
        bottom: 10px;
    }
}
