@import '@/styles/mixins';

.list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include media-rules(tablet) {
        gap: 26px;
    }
}

.item {
    display: flex;
    justify-content: space-between;
}

.name_service {
    line-height: 1.5;
    color: var(--gen);
}

.time {
    font-weight: 200;
}

.price_upper {
    text-transform: uppercase;
}

.text_service {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--gen);
    font-weight: 400;
    @include media-rules(tablet) {
        font-size: 14px;
    }
    @include media-rules(desktop) {
        font-size: 16px;
    }
}

.time {
    margin-left: 4px;
}
