@import "@/styles/mixins";

.list {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include media-rules(tablet) {
        gap: 36px;
    }

    @include media-rules(tablet) {
        gap: 48px;
    }
}