@import '@/styles/mixins';

.contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;

    @include media-rules(tablet) {
        gap: 18px;
        margin: 0;
    }

    @include media-rules(desktop) {
        gap: 24px;
    }
}

.contactsItem {
    display: flex;
    align-items: center;
    gap: 10px;

    &:last-child .contactIcon {
        align-self: flex-start;
        fill: transparent;
        stroke: var(--gen-w);
    }
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contactIcon {
    width: 20px;
    height: 20px;
    fill: var(--gen-w);

    @include media-rules(tablet) {
        width: 24px;
        height: 24px;
    }
}

.text {
    font-weight: 200;
    line-height: 1.5;
    color: var(--gen-w);

    @include media-rules(tablet) {
        font-size: 14px;
    }

    @include media-rules(desktop) {
        font-size: 16px;
    }
}
