@import '@/styles/mixins';

.title {
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: var(--gen);
    margin-bottom: 40px;

    @include media-rules(tablet) {
        font-size: 26px;
        margin-bottom: 70px;
    }

    @include media-rules(desktop) {
        font-size: 32px;
    }
}

.priceList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-rules(tablet) {
        gap: 26px;
    }
}

.priceListItem {
    display: flex;
    justify-content: space-between;

    @include media-rules(tablet) {
        align-items: center;
    }
}

.titleTime {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.serviceTitle {
    font-weight: 400;
    line-height: 1.5;
    color: var(--gen);

    @include media-rules(tablet) {
        width: 320px;
        font-size: 14px;
    }

    @include media-rules(desktop) {
        width: 360px;
        font-size: 16px;
    }
}

.specialText {
    font-weight: 200;
    text-transform: capitalize;

    @include media-rules(tablet) {
        font-size: 14px;
    }

    @include media-rules(desktop) {
        font-size: 16px;
    }
}

.timePrice {
    @include media-rules(tablet) {
        display: flex;
        align-items: center;
        gap: 60px;
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5;
        text-transform: uppercase;
        color: var(--gen);
    }
}

.time {
    font-weight: 200;
    line-height: 1.5;
    text-transform: uppercase;
    color: var(--gen);

    @include media-rules(tablet) {
        display: none;
    }
}

.timeDesk {
    display: none;

    @include media-rules(tablet) {
        display: block;
    }
}

.price {
    line-height: 1.5;
    color: var(--gen);

    @include media-rules(tablet) {
        width: 106px;
        font-size: 14px;
        text-align: right;
    }

    @include media-rules(desktop) {
        font-size: 16px;
    }
}
