.section {
    padding: 40px 0 80px;
}

.head {
    margin-bottom: 40px;
}

.title {
    position: relative;
    max-width: 320px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--gen-green);
    margin: 0 auto 44px;

    &::after {
        content: '';
        position: absolute;
        top: calc(100% + 12px);
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 20px;
        background-color: rgba(69, 63, 65, 0.5);
    }
}

.subtitle {
    font-family: var(--font3);
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: lowercase;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.description {
    font-weight: 200;
    line-height: 1.5;
    margin-top: 14px;
}
