@import '../../styles/mixins';

.section {
    padding-top: 80px;
    padding-bottom: 40px;
    @include media-rules(tablet) {
        padding-top: 150px;
    }
    @include media-rules(desktop) {
        padding-top: 105px;
    }
}

.wrapper_text {
    max-width: 390px;
    width: 100%;
    padding: 0 34px;
    margin: 0 auto;
    @include media-rules(tablet) {
        max-width: $tablet;
    }
    @include media-rules(desktop) {
        max-width: $desktop;
        padding: 0 62px;
    }
}

.title_text {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.14em;
    margin-bottom: 12px;
    @include media-rules(tablet) {
        font-size: 36px;
        margin-bottom: 16px;
    }
    @include media-rules(desktop) {
        font-size: 48px;
    }
}

.subtitle_text {
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 12px;
    @include media-rules(tablet) {
        font-size: 18px;
        margin-bottom: 16px;
    }
}

.text_owner {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-align: center;
    @include media-rules(tablet) {
        font-size: 30px;
        margin-bottom: 16px;
    }
    @include media-rules(desktop) {
        font-size: 42px;
        margin-bottom: 0;
    }
}

.img_wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    align-items: center;
    gap: 25px;
    margin-top: 36px;
    @include media-rules(tablet) {
        align-items: flex-start;
        flex-direction: row;
        margin-top: 45px;
        gap: 30px;
        padding-left: clamp(20px, calc((100vw - 768px) / 2 + 20px), 100vw);
    }
    @include media-rules(desktop) {
        gap: 164px;
        margin-top: 0px;
        padding-left: clamp(38px, calc((100vw - 1440px) / 2 + 38px), 100vw);
    }
}

.image {
    width: 340px;
    height: 198px;
    @include media-rules(tablet) {
        width: 345px;
        height: 271px;
    }
    @include media-rules(desktop) {
        width: 626px;
        height: 390px;
    }
}

.stick {
    background-color: rgba(69, 63, 65, 0.5);
    width: 0.5px;
    height: 20px;
    display: none;
    margin: 0 auto;
    @include media-rules(tablet) {
        display: block;
        width: 1px;
        height: 40px;
    }
    @include media-rules(desktop) {
        margin-top: 36px;
        height: 60px;
    }
}

.smear_wrapper_text {
    @include media-rules(tablet) {
        max-width: 302px;
    }
    @include media-rules(desktop) {
        padding-top: 38px;
        max-width: 491px;
        font-size: 16px;
        display: flex;
    }
}

.smear_text {
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
    max-width: 340px;
    margin-bottom: 12px;
    @include media-rules(tablet) {
        display: none;
        max-width: 302px;
        font-size: 14px;
    }
    @include media-rules(desktop) {
        max-width: 491px;
    }
}

.tablet_text_wrapper {
    display: none;
    @include media-rules(tablet) {
        display: flex;
        flex-direction: column;
    }
    @include media-rules(desktop) {
        display: none;
    }
}

.tablet_text {
    display: block;
}

.desktop_text_wrapper {
    display: none;
    @include media-rules(desktop) {
        display: flex;
        flex-direction: column;
        padding-bottom: 27px;
    }
}

.desktop_text {
    display: block;
    font-size: 16px;
}
