@import '../../styles/mixins';

.section {
    padding-top: 80px;
}

.wrapper_text {
    max-width: 390px;
    width: 100%;
    padding: 0 34px;
    margin: 0 auto;
    @include media-rules(tablet) {
        max-width: $tablet;
    }
    @include media-rules(desktop) {
        max-width: $desktop;
        padding: 0 62px;
    }
}

.title_text {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-family: var(--second-family);
    font-size: 18px;
    letter-spacing: 0.14em;
    margin-bottom: 12px;
    @include media-rules(tablet) {
        font-size: 36px;
        margin-bottom: 16px;
    }
    @include media-rules(desktop) {
        font-size: 48px;
    }
}

.subtitle_text {
    font-family: var(--second-family);
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 12px;
    @include media-rules(tablet) {
        font-size: 18px;
        margin-bottom: 16px;
    }
}

.text_owner {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-align: center;
    @include media-rules(tablet) {
        font-size: 30px;
        margin-bottom: 16px;
    }
    @include media-rules(desktop) {
        font-size: 42px;
        margin-bottom: 0;
    }
}

.img_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    @include media-rules(tablet) {
        padding-left: 35px;
    }
}

.image {
    width: 174px;
    height: 269px;
    @include media-rules(tablet) {
        width: 279px;
        height: 377px;
    }
    @include media-rules(desktop) {
        width: 360px;
        height: 525px;
    }
}

.stick {
    position: absolute;
    background-color: rgba(69, 63, 65, 0.5);
    width: 0.5px;
    height: 20px;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    @include media-rules(tablet) {
        width: 1px;
        height: 40px;
    }
}

.smear_wrapper {
    background: url('/img/bg_permanent.jpg') no-repeat;
    width: 100%;
    background-size: cover;
    padding-top: 50px;
    padding-right: 24px;
    padding-left: 36px;
    max-width: 219px;
    @include media-rules(tablet) {
        background-size: cover;
        max-width: 453px;
        padding-left: 0;
        background-image: url('/img/bg_tablet.jpg');
        background-position: 2px 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.smear_wrapper_text {
    @include media-rules(tablet) {
        max-width: 302px;
        margin-left: 75px;
    }
}

.smear_text {
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
    max-width: 159px;
    margin-bottom: 12px;
    @include media-rules(tablet) {
        display: none;
        max-width: 302px;
        font-size: 14px;
    }
}

.tablet_text_wrapper {
    display: none;
    @include media-rules(tablet) {
        display: flex;
        flex-direction: column;
    }
}

.tablet_text {
    display: block;
}
