@import "@/styles/mixins";

.section {
    padding: 40px 0 80px;

    @include media-rules(tablet) {
        padding: 70px 0 150px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include media-rules(tablet) {
        gap: 70px;
    }

    @include media-rules(desktop) {
        flex-direction: row-reverse;
        gap: 24px;
    }
}
