@import '@/styles/mixins';

.logo {
    color: var(--gen-w);

    @include media-rules(tablet) {
        order: 1;
        margin-right: auto;
        margin-left: 50px;
        color: var(--gen-green);
    }

    @include media-rules(desktop) {
        margin-left: 290px;
    }
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 4px;

    @include media-rules(tablet) {
        gap: 10px;
    }
}

.image {
    width: 32px;
    height: 29px;

    @include media-rules(tablet) {
        width: 79px;
        height: 72px;
    }
}

.logoTitle {
    font-family: var(--second-family);
    font-size: 18px;
    letter-spacing: 0.25em;
    color: var(--gen-green);

    @include media-rules(tablet) {
        letter-spacing: 0.15em;
        font-size: 36px;
        // color: var(--gen-green);
    }

    @include media-rules(desktop) {
        font-size: 62px;
    }
}
