.logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.image {
    width: 32px;
    height: 29px;
}

.logoTitle {
    font-family: var(--second-family);
    font-size: 18px;
    letter-spacing: 0.15em;
    color: var(--gen-w);
}
